@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 50px 150px 20px 150px;
  font-family:"Roboto", sans-serif;
}
.head{
  position: fixed;
  z-index:1;
  top:0px;
  width:82%;
}
.firstlogo{
  border-radius: 20px;
}
button{
  border-radius: 10px;
}
.biglogo{
  border-radius: 50px;
}
.profile{
  padding: 0px 125px 0px 125px;
}
.frame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images{
  border-radius: 20px;
}

